extends ../layout.jade

block head
  title Match

block css
  link(rel="stylesheet", href="/stylesheets/match.css")

block content
  ul.nav
    li
      a(href="/home")
        img.logo-red(src="/images/logo-red.png")
    li(style="float:right") 
      if(currentUser)
        .user
          a(href="/users/#{currentUser.id}") #{currentUser.first_name} #{currentUser.last_name}
      else
        .user
          a(href="/auth/login") Log in | Sign up
    //- li(style="float:right")
    //-   a(href="/users/#{currentUser.id}") Favorites
  
  div.match-wrapper
    p.section-headline The Perfect Combi
    div.match
      img.match-img(src="/images/food-match-icon.png")
      p Food
    div.match.match-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam quas veritatis voluptas dolorem consectetur! Est aliquam nostrum magnam modi voluptate officiis quod iure repellendus vero asperiores natus dolor laborum, explicabo. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia ea necessitatibus deserunt porro tenetur quidem commodi optio cupiditate perferendis esse id possimus in saepe totam adipisci, nesciunt quasi officia? Nisi!
    div.match
      //- img.match-img(src="/images/wine-match-icon.png")
      img.match-img(src=match.image)
      p= match.name
    button(href="#") Save to favorites
  
  div.recipe-wrapper
    p.section-headline Need Some Inspiration?
    div.img-wrapper
      img(src="/images/recipe_placeholder_2.jpg")
    div.recipe
      p.recipe-headline Recommended recipe
      p.recipe-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum ut dolore aspernatur ipsam laudantium impedit rerum omnis eaque, eveniet eos. Praesentium explicabo tempora, totam tempore adipisci quasi ab enim dignissimos! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis doloribus veniam iure consequuntur saepe aperiam, sunt ipsa sapiente temporibus fugit maxime nisi vel esse, libero pariatur repellat quae, repudiandae ducimus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, illo! Libero repellat perspiciatis voluptatibus ducimus eum voluptas aspernatur officia obcaecati iste, dolores quibusdam deserunt magni nihil quasi vero! Corrupti, quasi?